{% extends 'base.html' %}

{% block title %}Competitions{% endblock %}

{% block content %}
<h1 class="home-title">Competities</h1>


<div class="d-flex flex-column mb-3">
    <h2 class="home-subtitle">Competitie 2004</h2>
    
    <button type="button" class="btn btn-red">Resultaten</button>
    <h2 class="home-subtitle">Competitie 2004</h2>
    <button type="button" class="btn btn-red">Resultaten</button>
    <h2 class="home-subtitle">Competitie 2004</h2>
    <button type="button" class="btn btn-red">Naar competitie</button>

</div>

{% endblock %}