{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="body d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    
    <div class="login-logo mb-4">
        <img src="{% static 'images/logo_dark.png' %}" alt="Sate App Logo">
    </div>

    <div class="card login-form-size">
        <h2 class="text-center mb-4"></h2>

        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="username" class="loginpage-subtitle">Gebruikersnaam</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="loginpage-subtitle">Wachtwoord</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
            </div>
            
            <button type="submit" class="btn btn-red-login-page">Inloggen</button>
            <button type="submit" class="btn btn-red-login-page">Inloggen</button>
            <button type="submit" class="btn btn-red-login-page">Inloggen</button>
        </form>

    </div>

</div>
{% endblock %}